.video-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 22.1rem;
  border-radius: 8px;
  color: var(--primary-color);
  box-shadow: 0 2px 10px var(--dark-grey);
  cursor: pointer;
}
.video-banner {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 12.5rem;
}
.video-title {
  font-size: 1.1rem;
  padding: 1rem 0.5rem 0.5rem;
  margin-right: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}
.video-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .video-card {
    width: 20rem;
  }
}
@media screen and (max-width: 1000px) {
  .video-card {
    width: 18rem;
  }
}
@media screen and (max-width: 950px) {
  .video-card {
    width: 20rem;
  }
}
@media screen and (max-width: 600px) {
  .video-card {
    width: 23rem;
  }
}
