.sidebar {
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 15.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--dark-grey);
  position: fixed;
  left: 0;
  overflow-y: auto;
  z-index: 5;
}
.sidebar-icon {
  padding: 0.8rem 2rem;
  display: flex;
  gap: 1.7rem;
  align-items: center;
  color: var(--primary-color);
}
.icons {
  font-size: 1.2rem;
}

@media screen and (max-width: 950px) {
  .sidebar {
    display: none;
  }
}
